
---
import Layout from '../layouts/Layout.astro';
import CitySimulation from '../components/react/CitySimulation.tsx';
---

<Layout title="City Simulation">
	<div class="container">
		<h1 class="title">City Simulation</h1>
		<CitySimulation client:load />
	</div>
</Layout>
