---
import Layout from '../layouts/Layout.astro';
import FishBoids from '../components/FishBoids.astro';
---

<Layout title="Fish Boids">
    <a href="/" class="back-link">&larr; Back to Home</a>
    <FishBoids />
</Layout>
