---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Simulation Projects">
    <h1 class="title">Simulation Projects</h1>
    <div class="card-grid">
        <a href="/cajd-projects" class="card">
            <h2>Forest Fire Simulator</h2>
            <p>Experience the mesmerizing dance of a forest fire with this interactive simulator.</p>
        </a>
        <a href="/fish-boids" class="card">
            <h2>Fish Boids</h2>
            <p>A mesmerizing simulation of flocking behavior in fish.</p>
        </a>
        <a href="/city-simulation" class="card">
            <h2>City Simulation</h2>
            <p>A simulation of city growth and development.</p>
        </a>
    </div>
</Layout>
