---
import Layout from '../layouts/Layout.astro';
import Whirlpool from '../components/preact/Whirlpool.jsx';
---

<Layout title="Whirlpool Vector Field">
  <main>
    <h1 class="text-4xl font-bold text-center my-8">Whirlpool Vector Field Simulation</h1>
    <Whirlpool client:load />
  </main>
</Layout>
